*{
    margin: 0;
    padding: 0;
}
body{
     font-family: "Inter", sans-serif;
}
.navbar{
    background-color:#fd6569;
}
.container{
    padding: 10px;
}
.book-container{
    padding: 15px;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}
.book-container h2{
     color: #fd6569;
}
.book-container button{
    background-color: #fd6569;
    color: black;
    border-radius:10px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10pzx;
    border: none;
    margin-top: 10px;
}
.add-button{
     background-color: #fd6569;
    color: black;
    border-radius: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    border: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup-box{
    background-color: #fd6569;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}
.popup-box input{
    background:transparent;
    border: none;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    border-bottom: solid black 2px;
}
.popup-box textarea{
    background:transparent;
    width: 100%;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    border: solid black 2px;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color: black;
    padding: 10px;
    margin: 5px;
    color: white;
}
.popup-box input:focus{
    outline: none;
}

.popup-box textarea:focus{
    outline: none;
}




